/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
footer{
	background-color: white;
	height: 60px;
	width: 100%;
	padding-top: 2px;
}

body{
	background-color: #FFFEF8;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 110px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 2em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact{
	width: 37%;
margin: auto;
}
#main-login {
	width: 50%;
margin: auto;
margin-bottom: 300px;
margin-top: 120px;
}
#contact > * ,#main-login > *{
	text-align: center;

}
#contact h2 ,#main-login h2{
	margin-bottom: 20px;
}
#contact form , #main-login form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#main-login form{
	width: 379px;
	margin: auto;
}

#contact input , #main-login input , #pictures input,
#pictures select{
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label , #main-login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	height: 51px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* ------------------------Ajout de mon css------------------- */




#portfolio ul {
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 48px;
	gap: 11px;
}

#portfolio li {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	height: 35px;
	margin: 0;
	padding: 0 22px;
	min-width: 76px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	cursor: pointer;
	font-size: 14px;
	
}
#page-active {
	font-weight: bold;
}


.li-active {
	color: white;
	background-color: #1D6154;
}


.insta-img img{
	height: 22px;
	width: 22px;
}

.button-header{
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	margin-right: 30px;
}

a {
	cursor: pointer;
	color: inherit;
    
}
.submit{
	cursor: pointer;
}

.forgotten-pass {
	text-align: center;
	
}


.login-header {
	background-color: black;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 59px;
	width: 100%;
	font-family: 'Work Sans';
}

i {
	margin: 10px;
}


#portfolio h2 a {
	position: relative;
	font-size: 14px;
	left: 20px;
	font-weight: 400;
	color: black;
	font-family: 'Work Sans';
	bottom: 5px;
	width: 20px;
}
 /* ------------------------------Modal--------------------------- */
 
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 630px;
	position: relative;
	border-radius: 10px;
}
.modal h2 {
	font-size: 26px;
	font-weight: normal;
	font-family: 'Work Sans';
	color: black;
	margin-bottom: 46px;
}

.modal-body {
	border-bottom: 1px solid #B3B3B3;
	width: 470px;
	padding-bottom: 47px;
	
}


.close {
	position: relative;
	margin-left: auto;
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.after {
	display: none;
	position: absolute;
	left: 30px;
	color: black;
	font-size: 28px;
	font-weight: bold;
}

.after:hover,
.after:focus {

	cursor: pointer;
}

.gallery-modal li {
	display: inline-block;
	width: 17%;
	margin: 0 7px;
}

.gallery-modal img {
	height: 110px;
}

.gallery-modal div {
	position: relative;
	bottom: 105px;
	left: 57px;
	background-color: black;
	width: 17px;
	height: 17px;
	color: white;
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;

}

.modal a {
	color: #d65353;
	cursor: pointer;
}

#openModal {
	cursor: pointer;
}

#pictures {

	flex-direction: column;
}

#pictures,
#validate {
	display: none;
}

.img-add {
	height: 100%;
	display: none;
}

.img-add img {
	height: 100%;
	object-fit: cover;
}

#pictures label {
	margin-top: 21px;
	margin-bottom: 10px;
	font-weight: bold;
}

#pictures input,
#pictures select {
	width: 100%;
}

.download-modal2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 169px;
	background-color: #e8f1f6;
}

#pictures div i {
	font-size: 46px;
	color: #B9C5CC;
}

.custom-file-input {
	display: flex;
	align-items: center;
	background-color: #CBD6DC;
	color: #306685;
	height: 36px;
	padding: 5px 33px;
	font-size: 16px;
	border-radius: 50px;
	margin-top: 10px;
	cursor: pointer;
}

.custom-file-input input[type="file"] {
	display: none;
}
#error-message{
	color: red;
	margin-top: 15px;
}

#addPict,
#validate{
Width :237px;
Height:36px;
border-radius:60px;
}

.photo-ajoute {
	z-index: 1;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 10px;
	left: -300px;
	background-color: #1D6154;
	color: white;
	padding: 5px;
	border-radius: 5px;
	height: 37px;
	width: 237px;
	transition: left 0.5s ease-in-out;
}

